version: "3.8"
services:
  postgres:
    image: postgres:16
    container_name: concurrency-lab-db
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: concurrency_lab
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
